<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowedTypes</key>
	<array>
		<string>public.swift-source</string>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>DefaultCompletionName</key>
	<string>SwiftViperModule</string>
	<key>Description</key>
	<string>Basic Swift VIPER module template. Creates View, Interactor, Presenter, Router with protocols.</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>Name of module that you need create</string>
			<key>Default</key>
			<string></string>
			<key>Identifier</key>
			<string>viperModuleName</string>
			<key>Name</key>
			<string>Module name</string>
			<key>Required</key>
			<string>YES</string>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_viperModuleName___</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>WithDataManager</string>
			<key>Name</key>
			<string>Creates Data Manager</string>
			<key>Description</key>
			<string>Creates Data Manager</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>false</string>
			<key>Units</key>
			<dict>
				<key>true</key>
				<array>
					<dict>
						<key>Nodes</key>
						<array>
							<string>Presenter</string>
						</array>
					</dict>
				</array>
				<key>false</key>
				<array>
					<dict>
						<key>Nodes</key>
						<array>
							<string>ViewController</string>
						</array>
					</dict>
				</array>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>WithInteractor</string>
			<key>Name</key>
			<string>Creates Interactor</string>
			<key>Description</key>
			<string>Creates Interactor</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>false</string>
			<key>Units</key>
			<dict>
				<key>true</key>
				<array>
					<dict>
						<key>Nodes</key>
						<array>
							<string>Presenter</string>
						</array>
					</dict>
				</array>
				<key>false</key>
				<array>
					<dict>
						<key>Nodes</key>
						<array>
							<string>ViewController</string>
						</array>
					</dict>
				</array>
			</dict>
		</dict>
	</array>
	<key>Template Author</key>
	<string>Eremenko Artem </string>
	<key>Definitions</key>
	<dict>
		<key>Presenter</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Presenter</string>
			</array>
			<key>Path</key>
			<string>Default/___FILEBASENAME___Presenter.swift</string>
		</dict>
		<key>ViewController</key>
		<dict>
			<key>Group</key>
			<array>
				<string>View</string>
			</array>
			<key>Path</key>
			<string>Default/___FILEBASENAME___ViewController.swift</string>
		</dict>
	</dict>
</dict>
</plist>
